/* ALL H1 TEXT:  Black | Futura PT | Medium | 30px | 38px */
$h1-color: #000000;
$h1-font-family: Futura PT;
$h1-font-weight: Medium;
$h1-font-size: 30px;
$h1-line-height: 38px;


/* ALL H2 TEXT:  Black | Futura PT | Light | 20px | 26px */
$h2-color: #000000;
$h2-font-family: Futura PT;
$h2-font-weight: Light;
$h2-font-size: 20px;
$h2-line-height: 26px;

/* ALL BODY PARAGRAPHS:  Black | Futura PT | Light | 16px | 21px */
$p-color: #000000;
$p-font-family: Futura PT;
$p-font-weight: 100;
$p-font-size: 16px;
$p-line-height: 21px;


/* COLOURS USED */
$black: #000000;
$white: #ffffff;